<form [formGroup]="paymentsForm" (ngSubmit)="onAddPayment()">
    <fieldset>
      <div class="form-group">
        <label for="payment" class="form-label mt-4">Payment</label>
        <input type="text" name="payment" class="form-control" id="payment" formControlName="payment" placeholder="Enter payment">
      </div>
      <div class="form-group">
        <label for="amount" class="form-label mt-4">Amount</label>
        <input type="number" name="payment" class="form-control" id="amount" formControlName="amount" placeholder="Enter amount">
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">+ADD</button>
</form>
