<div class="row mt-4">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Payments</h1>
      <div class="d-flex flex-row-reverse">
        <button
          type="button"
          class="btn btn-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          routerLinkActive="router-link-active"
        >
          Go Back
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <app-live-code [code]="(currentCodeMatrix$ | async).code"></app-live-code>
</div>
<div class="container">
  <form
    [formGroup]="paymentsForm"
    (ngSubmit)="onAddPayment()"
    class="form-horizontal"
  >
    <div class="row mt-4">
      <div class="col-auto">
        <label for="payment" class="form-label">Payment</label>
        <input
          type="text"
          name="payment"
          class="form-control"
          id="payment"
          formControlName="payment"
          placeholder="Enter payment"
        />
      </div>
      <div class="col-auto">
        <label for="amount" class="form-label">Amount</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="number"
            name="amount"
            class="form-control"
            id="amount"
            formControlName="amount"
            placeholder="Enter amount"
            min="0"
          />
        </div>
      </div>
      <div class="col-auto mt-3">
        <button type="submit" [disabled]="!paymentsForm.valid" class="btn btn-primary">+ADD</button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <table class="table table-hover mt-4" *ngIf="payments.length > 0; else noPayments">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Code</th>
        <th scope="col">Grid</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-default" *ngFor="let payment of payments">
        <th scope="row">{{ payment.id }}</th>
        <td>{{ payment.payment }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.code }}</td>
        <td>
          <app-matrix-popover [matrix]="payment.matrix"></app-matrix-popover>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noPayments>
    <p class="mt-4">No payments</p>
</ng-template>
</div>
